<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Public+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div
      class="relative flex size-full min-h-screen flex-col bg-gray-50 justify-between group/design-root overflow-x-hidden"
      style='font-family: "Public Sans", "Noto Sans", sans-serif;'
    >
      <div>
        <div class="flex items-center bg-gray-50 p-4 pb-2 justify-between">
          <div class="text-[#101518] flex size-12 shrink-0 items-center" data-icon="ArrowLeft" data-size="24px" data-weight="regular">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
              <path d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"></path>
            </svg>
          </div>
          <div class="flex w-12 items-center justify-end">
            <button
              class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-12 bg-transparent text-[#101518] gap-2 text-base font-bold leading-normal tracking-[0.015em] min-w-0 p-0"
            >
              <div class="text-[#101518]" data-icon="Heart" data-size="24px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M178,32c-20.65,0-38.73,8.88-50,23.89C116.73,40.88,98.65,32,78,32A62.07,62.07,0,0,0,16,94c0,70,103.79,126.66,108.21,129a8,8,0,0,0,7.58,0C136.21,220.66,240,164,240,94A62.07,62.07,0,0,0,178,32ZM128,206.8C109.74,196.16,32,147.69,32,94A46.06,46.06,0,0,1,78,48c19.45,0,35.78,10.36,42.6,27a8,8,0,0,0,14.8,0c6.82-16.67,23.15-27,42.6-27a46.06,46.06,0,0,1,46,46C224,147.61,146.24,196.15,128,206.8Z"
                  ></path>
                </svg>
              </div>
            </button>
          </div>
        </div>
        <div class="flex overflow-y-auto [-ms-scrollbar-style:none] [scrollbar-width:none] [&amp;::-webkit-scrollbar]:hidden">
          <div class="flex items-stretch p-4 gap-3">
            <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60">
              <div
                class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl flex flex-col"
                style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBX3RrRypdINrbtLzdZDEvmaTR83VyfgeWFePXz7QuAYzAjkXtsPPNRKJZfMcb9q5TEbFLCnGkkxVFugxl0w-829WVcR4l2eX6bQDqgPLDz5XNa1M2m2HnLmhNcZfGozjan1uGPPL3Cd_4B--EwkEveFNQL2zmsm-5tH3tGdWp-m4n98tPBk9oIG9Y7vcgWulX-JHiTOZd8Tj17emqgftz5NI5pSUn33UWzXz9mWI5cqVa_lpGLqwUXLKzU7dBlXrsB1O14KL3WazU");'
              ></div>
            </div>
            <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60">
              <div
                class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl flex flex-col"
                style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuA9akatxoiChLzgkXhXN6Gx8c7fzBmQI2ctASrnCF_S9xIYp83lnPNkiUm0voa-7AuRCLEtVMmgx0KtIukZ3Y_numONGZv864bBUR9JZRvteOXmSOvuwz6SyjbmpHykWMaRyM_pyxcNv3Gzk-ko1KZPG4hXLVHGiRIJ3yFWFi9wsKVSdG3N5kfA4bGrBz2C1fnw2rk1o4ppoR6ly1YyPwSFC0EsmOZ3O5FJC_vmE7mqRfNK0ND72RxQZngQxUbhBrOA2v1MzjF90yM");'
              ></div>
            </div>
            <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60">
              <div
                class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl flex flex-col"
                style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBlKpFSPnzAGfbYtBwt40c_F0ROJdGOSbMs1eEqTNUKFEJ8NAUNZp2Vg5a42yB_-4mceQYwXm23_HO_eS6s9UDtz5OyB2_meqRdWSY2AYnasg2sCYu3YVyIF6wBFeZaJsJ_VzxvJd6rWsNPAyG7F9rNcXcSvM5yBFxM2A9qibsPzJnKu1kECzm_Ky_kxgvbE1p5O68HPe9LY6S2twlX7xTKw3I8JOHPJ1bQBj8g2FRYbzyCKp4ZO-4g4MltiMAUg4z9HLaoA7EO61U");'
              ></div>
            </div>
          </div>
        </div>
        <h1 class="text-[#101518] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 text-left pb-3 pt-5">Elegant Silk Scarf</h1>
        <p class="text-[#101518] text-base font-normal leading-normal pb-3 pt-1 px-4">
          This luxurious silk scarf is the perfect accessory to elevate any outfit. Made from the finest silk, it features a vibrant, eye-catching design.
        </p>
        <h3 class="text-[#101518] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Size</h3>
        <div class="flex gap-3 p-3 flex-wrap pr-4">
          <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#eaedf1] pl-4 pr-4">
            <p class="text-[#101518] text-sm font-medium leading-normal">Small</p>
          </div>
          <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#eaedf1] pl-4 pr-4">
            <p class="text-[#101518] text-sm font-medium leading-normal">Medium</p>
          </div>
          <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#eaedf1] pl-4 pr-4">
            <p class="text-[#101518] text-sm font-medium leading-normal">Large</p>
          </div>
        </div>
        <h3 class="text-[#101518] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Minimum Units</h3>
        <div class="flex gap-3 p-3 flex-wrap pr-4">
          <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#eaedf1] pl-4 pr-4">
            <p class="text-[#101518] text-sm font-medium leading-normal">1</p>
          </div>
          <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#eaedf1] pl-4 pr-4">
            <p class="text-[#101518] text-sm font-medium leading-normal">2</p>
          </div>
          <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#eaedf1] pl-4 pr-4">
            <p class="text-[#101518] text-sm font-medium leading-normal">3</p>
          </div>
        </div>
      </div>
      <div>
        <div class="flex gap-2 border-t border-[#eaedf1] bg-gray-50 px-4 pb-3 pt-2">
          <a class="just flex flex-1 flex-col items-center justify-end gap-1 rounded-full text-[#101518]" href="#">
            <div class="text-[#101518] flex h-8 items-center justify-center" data-icon="House" data-size="24px" data-weight="fill">
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                <path
                  d="M224,115.55V208a16,16,0,0,1-16,16H168a16,16,0,0,1-16-16V168a8,8,0,0,0-8-8H112a8,8,0,0,0-8,8v40a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V115.55a16,16,0,0,1,5.17-11.78l80-75.48.11-.11a16,16,0,0,1,21.53,0,1.14,1.14,0,0,0,.11.11l80,75.48A16,16,0,0,1,224,115.55Z"
                ></path>
              </svg>
            </div>
            <p class="text-[#101518] text-xs font-medium leading-normal tracking-[0.015em]">Home</p>
          </a>
          <a class="just flex flex-1 flex-col items-center justify-end gap-1 text-[#5c748a]" href="#">
            <div class="text-[#5c748a] flex h-8 items-center justify-center" data-icon="MagnifyingGlass" data-size="24px" data-weight="regular">
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                <path d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"></path>
              </svg>
            </div>
            <p class="text-[#5c748a] text-xs font-medium leading-normal tracking-[0.015em]">Search</p>
          </a>
          <a class="just flex flex-1 flex-col items-center justify-end gap-1 text-[#5c748a]" href="#">
            <div class="text-[#5c748a] flex h-8 items-center justify-center" data-icon="ShoppingBag" data-size="24px" data-weight="regular">
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                <path
                  d="M216,40H40A16,16,0,0,0,24,56V200a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V56A16,16,0,0,0,216,40Zm0,160H40V56H216V200ZM176,88a48,48,0,0,1-96,0,8,8,0,0,1,16,0,32,32,0,0,0,64,0,8,8,0,0,1,16,0Z"
                ></path>
              </svg>
            </div>
            <p class="text-[#5c748a] text-xs font-medium leading-normal tracking-[0.015em]">Cart</p>
          </a>
          <a class="just flex flex-1 flex-col items-center justify-end gap-1 text-[#5c748a]" href="#">
            <div class="text-[#5c748a] flex h-8 items-center justify-center" data-icon="User" data-size="24px" data-weight="regular">
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                <path
                  d="M230.92,212c-15.23-26.33-38.7-45.21-66.09-54.16a72,72,0,1,0-73.66,0C63.78,166.78,40.31,185.66,25.08,212a8,8,0,1,0,13.85,8c18.84-32.56,52.14-52,89.07-52s70.23,19.44,89.07,52a8,8,0,1,0,13.85-8ZM72,96a56,56,0,1,1,56,56A56.06,56.06,0,0,1,72,96Z"
                ></path>
              </svg>
            </div>
            <p class="text-[#5c748a] text-xs font-medium leading-normal tracking-[0.015em]">Profile</p>
          </a>
        </div>
        <div class="flex px-4 py-3">
          <button
            class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-12 px-5 flex-1 bg-[#dce8f3] text-[#101518] text-base font-bold leading-normal tracking-[0.015em]"
          >
            <span class="truncate">Buy Now</span>
          </button>
        </div>
        <div class="h-5 bg-gray-50"></div>
      </div>
    </div>
  </body>
</html>
